PORT=8788
JIRA_BASE_URL=https://jira.fptplay.net
JIRA_PROJECT_KEY=
JIRA_AUTH_TYPE=pat
JIRA_TOKEN=replace-with-jira-token
JIRA_USER=
JIRA_STORY_POINTS_FIELD=customfield_10016
JIRA_DEADLINE_FIELD=duedate
JIRA_DONE_STATUSES=Done,Closed,Resolved
SYNC_MAX_RESULTS=100
JIRA_SYNC_MAX_ISSUES=1000
JIRA_DEFAULT_JQL=ORDER BY created DESC
